* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Hat Display", sans-serif;
}
ul,
li {
  list-style: none;
}
body {
  display: flex;
  margin: 0px;
}
#wrapper {
  width: 100vw;
  height: 100vh;
}
