.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: sans-serif;
}

.footer {
  background-color: #232323;
  height: 600px;
  color: white;
  flex-direction: row;
  display: flex;
}

.Intro {
  background-color: #123fae;
  height: 700px;
  width: 100%;
  display: flex;
}

.About {
  background-color: #f3f3f3;
  height: 500px;
  width: 100%;
  display: flex;
}

.Case {
  background-color: white;
  height: 600px;
  width: 100%;
  display: flex;
}

.Services {
  background-color: #f3f3f3;
  height: 600px;
  width: 100%;
  display: flex;
}

.Products {
  background-color: white;
  height: 400px;
  width: 100%;
  display: flex;
}

.Companies {
  background-color: #f3f3f3;
  height: 400px;
  width: 100%;
  display: flex;
}

.Talk {
  background-color: #273043;
  height: 250px;
  width: 100%;
  display: flex;
  color: white;
}

.footer_icon {
  width: "40%";
  background-color: #232323;
  height: 600px;
  color: white;
  flex-direction: row;
  display: flex;
}

button {
  background-color: #faab2b;
  color: white;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  font-size: 18px;
  font-weight: normal;
}

.pIntro {
  font-size: 300%;
  font-weight: 900;
  width: 50%;
  line-height: 50px;
  display: flex; /* ★ */
  /* height: 400px; */
  align-items: center;
}

.pAbout {
  margin: auto 0;
  font-size: 150%;
  font-weight: 900;
  width: 80%;
  line-height: 30px;
  display: flex; /* ★ */
  height: 400px;
  align-items: center;
}

.pServices {
  font-size: 170%;
  font-weight: 900;
  width: 70%;
  line-height: 40px;
  display: flex; /* ★ */
  height: 70px;
  align-items: center;
}

.pServicescontent {
  font-size: 100%;
  font-weight: 100;
  width: 80%;
  line-height: 30px;
  display: flex; /* ★ */
  height: 400px;
  align-items: center;
}

.pProductsContent {
  font-size: 100%;
  font-weight: 100;
  width: 80%;
  line-height: 30px;
  display: flex; /* ★ */
  height: 300px;
  align-items: center;
}

.pProducts {
  font-size: 170%;
  font-weight: 900;
  width: 70%;
  line-height: 40px;
  display: flex; /* ★ */
  height: 70px;
  align-items: center;
}

.pCompanies {
  margin: 0 autp;
  font-size: 150%;
  font-weight: 900;
  width: 100%;
  line-height: 50px;
  display: flex; /* ★ */
  height: 120px;
  align-items: center;
}

.pCompaniesIcon {
  margin: 50px autp;
  font-size: 150%;
  font-weight: 900;
  width: 100%;
  line-height: 50px;
  display: flex; /* ★ */
  height: 120px;
  align-items: center;
  flex-direction: column;
}

.pCompaniesContent {
  margin: 0 auto;
  font-size: 100%;
  font-weight: 900;
  width: 70%;
  line-height: 50px;
  display: flex; /* ★ */
  height: 100px;
  align-items: center;
}

.pTalk {
  margin: 0 autp;
  font-size: 150%;
  font-weight: 900;
  width: 100%;
  line-height: 50px;
  display: flex; /* ★ */
  height: 120px;
  align-items: center;
  flex-direction: column;
}

.pTalkTitle {
  color: white;
  margin: 0 auto;
  font-size: 100%;
  font-weight: 900;
  width: 70%;
  line-height: 50px;
  height: 100px;
  align-items: center;
}

.pTalkContent {
  color: white;
  margin: 0 auto;
  font-size: 100%;
  font-weight: 900;
  width: 70%;
  line-height: 50px;
  height: 100px;
  align-items: center;
}

.core {
  background-color: white;
  width: 40%;
}

.ProductsTitle {
  background-color: white;
  width: 40%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 300px;
}

.pStyleAbout {
  width: 60%;
  margin: 0 auto;
  padding: auto;
  line-height: 600px;
}

.imgAbout {
  width: 40%;
}

.pStyleServices {
  width: 60%;
  margin: 0 auto;
  padding: auto;
  line-height: 600px;
}

.pStyleProducts {
  width: 60%;
  margin: 0 20px;
  padding: auto;
  line-height: 600px;
}

.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 50px;
}

.articleIntro {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  color: white;
  margin: auto;
  font-size: 60;
  padding: 0 auto;
}

.articleAbout {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  color: #273043;
  margin: auto;
  font-size: 20;
  padding: 0 auto;
}

.articleCase {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #273043;
  margin: auto;
  font-size: 20;
  padding: 0 auto;
}

.articleServices {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  color: #273043;
  margin: auto;
  font-size: 20;
  padding: 0 auto;
}

.articleProducts {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  color: #273043;
  margin: auto;
  font-size: 20;
  padding: 0 auto;
}

.articleCompanies {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #273043;
  margin: auto;
  font-size: 20;
  padding: 0 auto;
}

.articleTalk {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #273043;
  margin: auto;
  font-size: 20;
  padding: 0 auto;
}

.sectionCase_top {
  width: 100%;
  display: flex;
}

.sectionCase_down {
  width: 100%;
  display: flex;
}

.ul {
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 50px;
  list-style: none;
}

.ulFooter {
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 50px;
  list-style: none;
}

.ulCore {
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 50px;
  list-style: none;
}

.ulIcon {
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 50px;
  list-style: none;
  width: 70%;
}

.li {
  margin: 0 10px;
  height: 50px;
  font-size: 50%;
}

.liCore {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  height: 50px;
  font-size: 50%;
}

.liIcon {
  width: 200px;
  margin: 0 20px;
  height: 50px;
  font-size: 50%;
}

.logo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  font-weight: bold;
  font-size: 200%;
}

.liLeft {
  width: 10%;
  display: flex;
}

.liRight {
  width: 90%;
  display: flex;
  line-height: 40px;
}

.footerIcon {
  background-color: #232323;
  height: 600px;
  color: white;
  flex-direction: row;
  display: flex;
}

.pTalkIcon {
  margin: 50px autp;
  font-size: 150%;
  font-weight: 900;
  width: 100%;
  line-height: 50px;
  display: flex; /* ★ */
  height: 120px;
  align-items: center;
  flex-direction: column;
}
